
.add-remove-btn button{
    width: 30px;  
}
.add-remove-btn input{
    width: 50px;
    text-align: center;

}
.details p{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}

.checkout-btn{
    display: flex;

}
.checkout-btn .back{
    background-color: grey;
    color: white;
    padding: 0.7rem  1rem;
    border-radius: 0.2rem;
}

.checkout-btn .continue{
    background-color: green;
    color: white;
      padding: 0.7rem  1rem;
     border-radius: 0.2rem;
}